body{
    background-image: url('./Media/background.jpg');
	background-size: auto;
}
@media only screen and (min-width : 500px) and (max-width : 500px){
	background: url('./Media/background.jpg') center center fixed;
}
a{
  text-decoration:underline;
  color:red;
  font-size: 1em;
}
img{
  width: 25%;
  height: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
div.main{
  position: center;
	margin: auto;
}
div.title{
  position: top;
  color:#2bb143;
  font-size: 2em;
  text-align: center;
  text-shadow: 5px 4px black;
  line-height: 0.8;
}
div.navBar{
  font-size: 2em;
  color:white;
}
div.stopList{
  font-size: 1.25em;
  color:blue;
  text-shadow:
    -.5px -.5px 0 white,
    .5px -.5px 0 white,
    -.5px .5px 0 white,
    .5px .5px 0 white;
}
div.rideInfo{
  font-size: 1.25em;
  color:red;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
div.footerStyle{
  background-color: #828282;
  color:white;
  font-size: 2.5em;
  text-align: center;
  text-shadow:
    -1.5px -1.5px 0 green,
    1.5px -1.5px 0 green,
    -1.5px 1.5px 0 green,
    1.5px 1.5px 0 green;
  line-height: 0.8;
  padding: 0.025em;
}
div.eventStyle{
  color:yellow;
  font-size: 1.5em;
  text-align: center;

  line-height: 0.8;
}
div.eventInfo{
  color:red;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 3px 2px white;
  line-height: 0.8;
}
div.aboutStyle{
  color:white;
  font-size: 2.5em;
  text-align: center;
  text-shadow:
    -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
}
div.tshirtStyle{
  position: center;
  font-size: 3em;
  text-align: center;
}
div.scholarshipStyle{
  color:red;
  font-size: 3em;
  text-align: center;
  text-shadow: 1.5px 1.5px white;
  line-height: 0.8;
}
